body {
    width: 1920px;
    height: auto;
}

.head {
    height: 157px;
    width: 100%;
    border: 1px solid black;
}

.header_menu {
    position: relative;
    left: 160px;
    top: 20px;
    width: 1600px;
    height: 80px;


    img {
        position: absolute;
    }

    >span {
        position: absolute;
        left: 302px;
        top: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        width: 371px;
        text-transform: uppercase;
        color: #24173D;

    }

}

.header_menu_elipse {
    left: 251px;
}

.phone {
    position: absolute;
    right: 0;
    top: 15px;
    width: 558px;
    height: 50px;

    span {
        position: relative;
        top: 13px;
        left: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #24173D;


    }

    span::before {
        content: url(/img/vector.png);
        position: relative;
        right: 10px;

    }

    input {
        width: 250px;
        height: 50px;
        background: #FFC633;
        border-radius: 30px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        float: right;
    }
}



.main_banner {
    width: 1920px;
    height: 738px;
    background-image: url(/img/background.png);
    position: relative;
}

.main_banner_text {
    width: 655px;
    height: 411px;
    position: relative;
    top: 93px;
    left: 160px;

    .text_first {
        height: 186px;
    }

    .text_head {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 67px;
        line-height: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .text_main {
        position: relative;
        top: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 29px;
        line-height: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    img {
        position: relative;

        left: 96px;
    }

    .text_second {
        position: relative;
        top: 30px;

        .text_head_second {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 60px;
            color: #FFFFFF;
        }

        .text_main_second {
            position: relative;
            top: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            color: #FFFFFF;

            .gold_text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
            }
        }
    }
}


.gold_text {
    color: #F6BF33;
}


.main_banner_form {
    position: absolute;
    top: 65px;
    left: 845px;
    width: 890px;
    height: 461px;
    background: #FFC633;
    box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 30px;


}

.form_text {
    width: 590px;
    height: 171px;
    position: relative;
    top: 50px;
    left: 150px;

    .form_text_heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 87px;
        line-height: 106px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #24173D;
    }


    .form_text_main {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #24173D;
    }


    .form-text_white {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inherit;
    }
}


.form_action {
    width: 790px;
    height: 160px;
    position: absolute;
    top: 251px;
    left: 50px;

    input {
        border-radius: 5px;
    }

    .form_white {
        width: 385px;
        height: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 19px;
        line-height: 23px;
    }

    .form_number {
        position: relative;
        float: right;
    }

    .form_button {
        padding: 10px 20px;
        gap: 10px;
        background: #24173D;
        box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
        border-radius: 43px;
        width: 365px;
        height: 65px;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 95px;
        left: 218px;
    }
}

.benefits_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    color: #24173D;
    border: 1px solid #030303;
    position: absolute;
    top: 938px;
    left: 707px;
    z-index: 1;
    background-color: white;
    padding: 0 30px;
}


.benefits {
    width: 1780px;
    height: 463px;
    border: 5px double #030303;
    border-radius: 20px;
    margin: 70px 70px 44px 70px;
    position: relative;
    z-index: -1;

    div {
        border: 1px solid #030303;
    }

}

.benefits_first {
    width: 314px;
    height: 80px;
    position: absolute;
    left: 90px;
    top: 90px;

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #24173D;
        position: absolute;
        top: 11px;
        left: 120px;
    }
}



.benefits_second {
    width: 287px;
    height: 80px;
    position: absolute;
    left: 630px;
    top: 90px;

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #24173D;
        position: absolute;
        top: 11px;
        left: 120px;
    }

}


.benefits_third {
    width: 520px;
    height: 80px;
    position: absolute;
    right: 90px;
    top: 90px;

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #24173D;
        position: absolute;
        top: 11px;
        left: 120px;
    }

}