body {
  width: 1920px;
  height: auto;
}

.head {
  height: 157px;
  width: 100%;
}

.header_menu {
  position: relative;
  left: 160px;
  top: 20px;
  width: 1600px;
  height: 80px;
}

.header_menu img {
  position: absolute;
}

.header_menu>span {
  position: absolute;
  left: 302px;
  top: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  width: 371px;
  text-transform: uppercase;
  color: #24173D;
}

.header_menu_elipse {
  left: 251px;
}

.phone {
  position: absolute;
  right: 0;
  top: 15px;
  width: 558px;
  height: 50px;
}

.phone span {
  position: relative;
  top: 13px;
  left: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24173D;
}

.phone span::before {
  content: url(/img/vector.png);
  position: relative;
  right: 10px;
}

.phone input {
  width: 250px;
  height: 50px;
  background: #FFC633;
  border-radius: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  float: right;
}

.main_banner {
  width: 1920px;
  height: 738px;
  background-image: url(/img/background.png);
  position: relative;
}

.main_banner_text {
  width: 655px;
  height: 411px;
  position: relative;
  top: 93px;
  left: 160px;
}

.main_banner_text .text_first {
  height: 186px;
}

.main_banner_text .text_head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 67px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main_banner_text .text_main {
  position: relative;
  top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main_banner_text img {
  position: relative;
  left: 96px;
}

.main_banner_text .text_second {
  position: relative;
  top: 30px;
}

.main_banner_text .text_second .text_head_second {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #FFFFFF;
}

.main_banner_text .text_second .text_main_second {
  position: relative;
  top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.main_banner_text .text_second .text_main_second .gold_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.gold_text {
  color: #F6BF33;
}

.main_banner_form {
  position: absolute;
  top: 65px;
  left: 845px;
  width: 890px;
  height: 461px;
  background: #FFC633;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

.form_text {
  width: 590px;
  height: 171px;
  position: relative;
  top: 50px;
  left: 150px;
}

.form_text .form_text_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 87px;
  line-height: 106px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #24173D;
}

.form_text .form_text_main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #24173D;
}

.form_text .form-text_white {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inherit;
}

.form_action {
  width: 790px;
  height: 160px;
  position: absolute;
  top: 251px;
  left: 50px;
}

.form_action input {
  border-radius: 5px;
}

.form_action .form_white {
  width: 385px;
  height: 65px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
}

.form_action .form_number {
  position: relative;
  float: right;
}

.form_action .form_button {
  padding: 10px 20px;
  gap: 10px;
  background: #24173D;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 43px;
  width: 365px;
  height: 65px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 95px;
  left: 218px;
}

.benefits_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #24173D;
  border: 1px solid #030303;
  position: absolute;
  top: 938px;
  left: 707px;
  z-index: 1;
  background-color: white;
  padding: 0 30px;
}

.benefits {
  width: 1780px;
  height: 463px;
  border: 5px double #030303;
  border-radius: 20px;
  margin: 70px 70px 44px 70px;
  position: relative;
  z-index: -1;
}

.benefits_first {
  width: 314px;
  height: 80px;
  position: absolute;
  left: 90px;
  top: 90px;
}

.benefits_first span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 120px;
}

.benefits_second {
  width: 287px;
  height: 80px;
  position: absolute;
  left: 630px;
  top: 90px;
}

.benefits_second span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 120px;
}

.benefits_third {
  width: 520px;
  height: 80px;
  position: absolute;
  right: 90px;
  top: 90px;
}

.benefits_third span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 120px;
}

.benefits_fourth {
  width: 446px;
  height: 80px;
  position: absolute;
  left: 90px;
  top: 263px;
}

.benefits_fourth span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 111px;
}

.benefits_five {
  width: 460px;
  height: 80px;
  position: absolute;
  left: 630px;
  top: 263px;
}

.benefits_five span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 106px;
}

.benefits_six {
  width: 520px;
  height: 80px;
  position: absolute;
  right: 90px;
  top: 263px;
}

.benefits_six span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  position: absolute;
  top: 11px;
  left: 120px;
}

.photo_section {
  width: 1920px;
  height: 952px;
}

.photo_section_header {
  display: inline-block;
  width: 1047px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #24173D;
  margin: 0 436px 69px 436px;
}

.photo_image_up {
  width: 33.2%;
  height: 416px;
  display: inline-block;
  padding: 291px 190px 30px 190px;
}

.photo_image_up input {
  padding: 10px 20px;
  gap: 10px;
  background: #FAC86E;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #24173D;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.photo_image_up span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: auto;
  display: block;
}

.photo_1 {
  background-image: url(/img/01.jpg);
}

.photo_1 span {
  opacity: 0.2;
  color: #FFFFFF;
}

.photo_2 {
  background-image: url(/img/02.jpg);
}

.photo_2 span {
  color: #FFFFFF;
}

.photo_3 {
  background-image: url(/img/03.jpg);
}

.photo_3 span {
  color: #FFFFFF;
}

.photo_image_dawn {
  width: 49.9%;
  height: 416px;
  display: inline-block;
  padding: 291px 190px 30px 190px;
}

.photo_image_dawn input {
  padding: 10px 20px;
  gap: 10px;
  background: #FAC86E;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #24173D;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.photo_image_dawn span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: auto;
  display: block;
}

.photo_4 {
  background-image: url(/img/04.jpg);
}

.photo_4 span {
  color: #FFFFFF;
}

.photo_5 {
  background-image: url(/img/05.jpg);
}

.photo_5 span {
  color: #FFFFFF;
}

.discont {
  width: 1845px;
  height: 321px;
  margin: 108px 0 108px 75px;
  position: relative;
}

.discont_heading {
  width: 697px;
  height: 263px;
  position: absolute;
  border-left: 5px solid #24173D;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 77px;
  text-transform: uppercase;
  color: #24173D;
  padding-left: 35px;
  margin: 30px 0;
}

.discont_table {
  width: 1017px;
  height: 321px;
  background: #FFC633;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  float: right;
}

.discont_table .discont_column_white {
  display: block;
  margin: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.discont_table_column_1 {
  width: 175px;
  height: 221px;
}

.discont_column_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #24173D;
  width: 156px;
  height: 85px;
  display: block;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  margin: 20px auto;
  padding-top: 10px;
}

.discont_table_column_2 {
  width: 140px;
  height: 210px;
}

.discont_table_column_2 .discont_column_heading {
  width: 140px;
  height: 93px;
  margin-bottom: 31px;
  text-align: center;
}

.discont_table_column_3 {
  width: 194px;
  height: 210px;
}

.discont_table_column_3 .discont_column_heading {
  width: 194px;
  height: 93px;
  margin-bottom: 31px;
  text-align: center;
}

.contact_form {
  width: 1920px;
  height: 398px;
  background-image: url(/img/Rectangle\ 146.jpg);
  padding: 80px 430px 90px 430px;
}

.contact_form_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  display: block;
}

.conact_form_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin-top: 20px;
}

.conact_form_button {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 57px;
  margin-top: 60px;
}

.conact_form_button .form_white {
  width: 385px;
  height: 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 5px;
}

.conact_form_button .form_button {
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 250px;
  height: 57px;
  background: #FFC633;
  border-radius: 5px;
}

footer {
  position: relative;
  width: 1920px;
  height: 254px;
}

footer img {
  position: absolute;
  top: 70px;
  left: 857px;
}

footer>span {
  display: block;
  width: 447px;
  height: 34px;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4A4A4A;
  position: absolute;
  top: 205px;
  left: 737px;
}

footer>span .gold {
  color: #F8B500;
}

/*# sourceMappingURL=style.css.map */